---
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  return [
    { params: { tag: "astro" } },
    { params: { tag: "lunarvim" } },
    { params: { tag: "arch" } },
    { params: { tag: "learning in public" } },
  ];
}

const { tag } = Astro.params;
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
</BaseLayout>
