---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "My Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    I learned C++, Haskell and now learning some web dev, Rust,shell scripting.<br
    />
    I use LunarVim as my favorite editor...Also learning Arch and will write about
    thing I learned!
  </p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
<!-- <Footer /> -->
