---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPosts from "../components/BlogPosts.astro";
import { YouTube } from "@astro-community/astro-embed-youtube";
const pageTitle = "Salim Pamukcu";

const message =
  "I am a self learner programmer C++, Rust, Haskell. Now learning Astro, linux, Arch..anything fun";
---

<BaseLayout pageTitle={pageTitle} message={message} showImage="true">
  <h2>Posts</h2>
  <BlogPosts />

  <h2>Videos</h2>
  <YouTube id="https://www.youtube.com/watch?v=6OSDh8BS5Nk" />
</BaseLayout>

<style lang="css"></style>
