---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Salim Pamukcu";
---

<BaseLayout pageTitle={pageTitle}>
  <div>
    <p>
      I am self learner programmer C++, Rust, Haskell
      <br />Currently learning some web dev, Rust, linux, Arch..anything fun
      <br />Love neovim and currently working with LunarVim
    </p><br />
  </div>
</BaseLayout>
