---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPosts from "../components/BlogPosts.astro";
const pageTitle = "Salim Pamukcu";

const message =
  "I am a self learner programmer C++, Rust, Haskell. Now learning Astro, linux, Arch..anything fun";
---

<BaseLayout pageTitle={pageTitle} message={message} showImage="true">
  <h2>Posts</h2>
  <BlogPosts />
</BaseLayout>

<style lang="css"></style>
