---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Notes";
import "websocket-polyfill";

import {
  relayInit,
  generatePrivateKey,
  getPublicKey,
  getEventHash,
  signEvent,
} from "nostr-tools";

import type { Relay, Event } from "nostr-tools";

async function connect(id: string): Promise<Event | null> {
  const relay = relayInit("wss://relay.nosbin.com");
  await relay.connect();

  relay.on("connect", () => {
    console.log(`connected to ${relay!.url}`);
  });

  relay.on("error", () => {
    console.log(`failed to connect to ${relay!.url}`);
  });

  return new Promise<Event | null>((resolve) => {
    let sub = relay!.sub([
      {
        ids: [id],
      },
    ]);

    sub.on("event", (event: Event) => {
      console.log("we got the event we wanted:", event);
      resolve(event);
    });

    sub.on("eose", () => {
      sub.unsub();
    });
  });
}

const status = connect(
  "c6a7445ffbcd582ecdb86bc4568f1c1bc29774f9428c503030779974110c4187"
);
console.log(status);
status.then((event) => {
  console.log;
});
---

<BaseLayout>
  <h1>{pageTitle}</h1>
</BaseLayout>
