---
const { index, title, url, date } = Astro.props;

let newdate = new Date(Date.parse(date));
let dateString = newdate.toLocaleDateString("en-US", {
  year: "numeric",
  month: "2-digit",
  day: "2-digit",
});
---

<li>
  <a href={url}>
    <div class="container">
      <span class="index">0{index + 1}</span>
      <span class="title">{title}</span>
      <span class="pubDate">{dateString}</span>
    </div>
  </a>
</li>

<style>
  li {
    list-style: none;
    text-decoration: none;
  }

  .title {
    margin-left: 1rem;
  }

  a {
    color: #c1caf4;
    text-decoration: none;
  }

  .container {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 1px solid #333;
  }

  li:hover .container {
    color: #fff;
    transform: scale(1.01);
    transition: transform 0.3s ease-in-out;
  }

  /* .pubDate { */
  /*   color: #aaa; */
  /*   font-size: 1rem; */
  /*   font-weight: 400; */
  /*   margin-right: 0.8em; */
  /* } */

  .pubDate {
    color: #aaa;
    /* text-align: right; */
    font-size: 1rem;
    font-weight: 400;
    margin-left: auto;
  }
</style>
