---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
---

<header>
  <img class="intro-image" src="../assets/A6YnFFj0_400x400.jpg" alt="me" />
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>
