---
import { Icon } from "astro-icon";
---

<div class="nav-links">
  <div class="nav-link">
    <a href="/">Home</a>
  </div>
  <div class="nav-link">
    <a href="/blog/">Blog</a>
  </div>
  <div class="nav-link">
    <a href="/tags/">Tags</a>
  </div>
  <div class="nav-rss">
    <Icon name="mdi:rss-box" />
  </div>
</div>

<style lang="css">
  .nav-links {
    /* width: 100%; */
    /* justify-content: center; */
    /* top: 5rem; */
    /* left: 48px; */
    /* background-color: #222; */
    display: none;
    /* margin: 0; */
  }

  .nav-links a {
    /* display: block; */
    /* text-align: left; */
    /* padding: 0px 0; */
    color: #f9fafb;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    /* padding: 0.875rem; */
  }

  .expanded {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .nav-link {
    padding: 1rem;
  }
  .nav-links .nav-rss {
    display: none;
  }

  [astro-icon] {
    color: #c1caf4;
    /* OR */
    /* fill: blue; */
    width: 3rem;
  }

  [astro-icon]:hover {
    transform: scale(1.1);
  }

  [astro-icon="mdi:rss-box"]:hover {
    color: #ffa500;
  }

  @media only screen and (min-width: 768px) {
    .nav-links {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-top: 1.5rem;
    }
    .nav-link {
      padding: 0.5rem;
      padding-top: 0.625rem;
      padding-bottom: 0.625rem;
    }

    .nav-links .nav-link:hover {
      background-color: #27272a;
      border-radius: 0.8rem;
    }
    .nav-links .nav-rss {
      margin-left: 5rem;
    }
    .nav-links .nav-rss {
      display: block;
    }
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width: 992px) {
  }
</style>
