---
import Social from "./Social.astro";
---

<div class="socials">
  <Social platform="twitter" username="Salimp2009Salim" />
  <Social platform="github" username="salimp2009" />
  <Social platform="youtube" username="salimp2009" />
</div>

<style>
  .socials {
    display: flex;
    gap: 1rem;
    align-self: center;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }
</style>
