---
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    padding: 0.2rem 1rem;
    color: #c1caf4;
    background-color: #4c1d95;
    text-decoration: none;
    border-radius: 8px;
    border-style: solid;
    border-color: black;
  }
</style>
