---
import Social from "./Social.astro";
---

<div class="socials">
  <Social platform="twitter" username="Salimp2009Salim" />
  <Social platform="github" username="salimp2009" />
  <Social platform="youtube" username="salimp2009" />
</div>

<style>
  .socials {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
    /* border: solid rgb(255, 255, 255); */
    /* border-radius: 4px; */
  }
</style>
