---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <div class=`intro reverse`>
    <img
      class="intro2_image"
      id="myHeading"
      src="/assets/salim_image.jpg"
      alt="me"
    />
  </div>
  <Header />
  <body>
    <Footer />
    <h1>
      {pageTitle}
    </h1>
    <slot />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>

  <style lang="css">
    .intro2_image {
      align-self: flex-start;
      margin-top: 2rem;
      border-radius: 50%;
      width: 5rem;
      border-radius: 9999px;
    }
    .intro-image {
      width: 7rem;
    }
    .reverse {
      flex-direction: row-reverse;
    }
  </style>


</html>
